
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.scrollbar-style {
  overflow-y: scroll;           /* Aktivera vertikal scroll */
}

.scrollbar-style::-webkit-scrollbar {
  width: 10px;                  /* Bredden på scrollbarens spår */
}

.scrollbar-style::-webkit-scrollbar-thumb {
  background-color: #888;       /* Färg på scrollbarren */
  border-radius: 5px;           /* Rundade hörn */
}

.scrollbar-style::-webkit-scrollbar-thumb:hover {
  background-color: #555;       /* Ändra färg vid hover */
}

/* Scroll Container */
.scroll-container {
  width: 300px;
  height: 150px;
  border: 1px solid #ccc;
  padding: 0;
  margin: 0;
  /* Återanvänd scrollbar-stilen */
  
}


@media (min-width: 300px) and (max-width: 768px) {
 

  .techover-logo {
    display: none !important;
}
  
}

@media (min-width: 700px) and (max-width: 1000px) {
 
  .techover-logo {
    display: none !important;
}
}

 

